body {
    background-color: #fdfdfd !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding-bottom: 20px;
}

.footer {
    flex-shrink: 0;
}

footer .d-flex>div {
    white-space: nowrap;
    min-width: fit-content;
}

.nav-link {
    color: #fff !important;
}

.nav-link.active {
    color: #ffc404 !important;
}

.nav-link:hover {
    color: #ffc404 !important;
}

.nav-link {
    font-size: 0.93rem !important;
}

.nav-link[aria-expanded="true"] {
    color: #ffc404 !important;

    &::after {
        transform: rotate(180deg);
        transition: transform 0.1s ease;
    }
}

.nav-item.dropdown .dropdown-menu {
    border: none !important;
    background-color: #0d6efd !important;
    font-size: 0.93rem !important;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #fff !important;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    margin: 0.1rem 0;
    padding: 0.5rem 1rem;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    color: #ffc404 !important;
    background-color: rgba(13, 110, 253, 0.1) !important;
    border-radius: 0.25rem !important;
}

.dropdown-menu .dropdown-item.dashboard-item.active,
.dropdown-menu .dropdown-item.dashboard-item:active {
    color: #ffc404 !important;
}

.dropdown-menu .dropdown-item.cnae-item.active,
.dropdown-menu .dropdown-item.cnae-item:active {
    color: #ffc404 !important;
}

.navbar-toggler {
    border: none !important;
    color: #fff !important;
    padding: 0.5rem;
    transition: color 0.3s ease;

    .navbar-toggler-icon {
        width: 1.25em;
        height: 1.25em;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-width='1.5' d='M1 4h14M1 8h14M1 12h14'/%3e%3c/svg%3e") !important;
        transition: all 0.3s ease;
    }

    &:focus {
        box-shadow: none !important;
    }

    &[aria-expanded="true"] {
        color: #ffc404 !important;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath stroke='%23ffc404' stroke-linecap='round' stroke-width='1.5' d='M1 4h14M1 8h14M1 12h14'/%3e%3c/svg%3e") !important;
        }
    }
}

textarea {
    resize: none;
    transition: height 0.2s ease;
}

textarea.autosize-expanded {
    min-height: 100px;
}

.mandatory::after {
    content: "*";
    color: red;
    
}