:root {
    --primary-color: #0d6efd;
    --secondary-color: #5094fa;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

.hero-section {
    background: linear-gradient(to bottom,
            var(--primary-color) 0%,
            var(--secondary-color) 100%);
    color: white;
    padding: 1rem 0 0 0;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100vw;
    position: relative;    
    left: calc(-50vw + 50%);
}

.card .card-header {
    background-color: var(--primary-color);
    color: white;
}

.title-card-cv {
    font-size: 0.8rem;
    font-weight: 400;
}

.roteiro-cv {
    font-weight: 500 !important;
}

.button-cd {
    margin-bottom: -1rem;
}

.description-card-cd {
    font-size: 1.1rem !important;
    font-weight: 400;
    margin-bottom: 0;
}

#cnpj:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(87, 150, 245, 0.25);
    border-color: #7da4e0;
}

.invalid-cv {
    margin-bottom: -0.7rem;

}

.features-section {
    padding: 4rem 0;
}

.feature-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.text-rodape {
    font-size: 0.8rem;
    color: #6c757d;
    margin-top: 0rem;
    text-align: justify;
}

.base-cv {
    font-size: 0.8rem;
    color: #f0f2f3;
    margin-top: 1rem;
    text-align: center;
}

.text-justify {
    text-align: justify;
}

@media (max-width: 768px) {
    .badge-fixed-md {
        width: 40px;
        display: inline-block;
        text-align: center;
    }
}
